<div class="header header-auto-show header-fixed header-logo-center">

  <a href="index.html" class="header-title">{{ site.title }}</a>

  <a data-menu="menu-main" class="header-icon header-icon-1">
    <i class="fas fa-bars"></i>
  </a>

</div>

<div id="footer-bar" class="footer-bar-6">

  <a href="courses/index.html" {% if page.menuSelected == "nav-courses" %}class="active-nav"{% endif %}>
    <i class="fa fa-graduation-cap"></i>
    <span>
      Courses
    </span>
  </a>

  <a href="commands/index.html" {% if page.menuSelected == "nav-commands" %}class="active-nav"{% endif %}>
    <i class="fa fa-terminal"></i>
    <span>
      Commands
    </span>
  </a>

  <a class="{% if site.circularHome %}circle-nav{% endif %}
	    {% if page.menuSelected == 'nav-welcome' %}active-nav{% endif %}" href="index.html">
    <i class="fa fa-home"></i>
    <span>
      Home
    </span>
  </a>

  <a class="{% if page.menuSelected == 'nav-guides' %}active-nav{% endif %}"
    href="guides/index.html">
    <i class="fa fa-book"></i>
    <span>
      Guides
    </span>
  </a>

  <a href="">
    <i class="fa fa-search"></i>
    <!-- TODO: This searcher will let you to search lessons in all the courses -->
    <span>
      Search
    </span>
  </a>

</div>

<div class="page-title page-title-fixed">

  <h1>{{ site.title }}</h1>

  <a data-menu="menu-main"
     class="page-title-icon shadow-xl bg-theme color-theme">
    <i class="fas fa-bars"></i>
  </a>

</div>

<div class="page-title-clear"></div>

<div id="menu-main" class="menu menu-box-left rounded-0"
     data-menu-width="280" data-menu-active="{{ page.menuSelected }}"
     >
  {% include menu-main-appkit.html %}
</div>
