<div class="card rounded-0 bg-6" data-card-height="150">
  <div class="card-top">
    <a href="#" class="close-menu float-end me-2 text-center mt-3 icon-40
		       notch-clear">
      <i class="fa fa-times color-white"></i>
    </a>
  </div>

  <div class="card-bottom">
    <h1 class="color-white ps-3 mb-n1 font-27">Hacky</h1>
    <p class="mb-2 ps-3 font-12 color-white opacity-50">
      Forming a free hacker community
    </p>
  </div>

  <div class="card-overlay bg-gradient"></div>
</div>

<div class="mt-4"></div>

<div class="menu-divider">Explore</div>

<div class="list-group list-custom-small list-menu">

  <a id="nav-welcome" href="index.html">
    <i class="fa fa-home gradient-red color-white"></i>
    <span>Home</span>
  </a>

  <a id="nav-courses" href="courses/index.html">
    <i class="fa fa-graduation-cap gradient-green color-white"></i>
    <span>Courses</span>
  </a>

  <a id="nav-commands" href="commands/index.html">
    <i class="fa fa-terminal gradient-blue color-white"></i>
    <span>Commands</span>
  </a>

  <a id="nav-guides" href="guides/index.html">
    <i class="fa fa-book gradient-brown color-white"></i>
    <span>Guides</span>
  </a>

  <a id="nav-search" href="">
    <i class="fa fa-search gradient-teal color-white"></i>
    <span>Search</span>
  </a>

  <a id="nav-philosophy" href="">
    <i class="fa fa-synagogue gradient-magenta color-white"></i>
    <span>Philosophy</span>
  </a>

</div>

<h6 class="menu-divider font-10 mt-4">
  Made with <i class="fa fa-heart color-red-dark pl-1 pr-1"></i> by Hermades
  in <span class="copyright-year">2021</span>
</h6>
